body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}
.styleinline{
    height: 400px;
    width: auto;
    border-style: solid ;
    border-width: 5px;
    border-color:black;

}

.styledesign{
    font-size: 40px;
    color:red;
    font-weight: 500;
    top: 150px;
    left: center;
    text-shadow: 0px 2px  white;

}

.stylecontact{
    font-size: 15px;
    
}

.style_education{
    font-size: 20px;
    color: white;
    top: 10px;
    text-align: left;
    
}

.stylede_education{
    width: auto;
    height: 200px;
}

.styletopic{
    font-size: 40px;
    color: yellowgreen;
    text-align: center;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 25px;
    

}